* {
  color: #eee;
  font-family: "JetBrains Mono";
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
body {
  background: #bbb;
}
.console {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  margin: 0 0 2.5rem 0;
  border: rgba(160, 160, 160, 0.3) 1px solid;
  border-radius: 0.6em;
  background: #28415B;
  box-shadow: 0.6rem 0.6rem 2rem rgba(20, 20, 20, 0.8);
  min-height: 23rem;
}
.title-bar {
  width: 100%;
  height: 2em;
  background: #333;
  border-radius: 0.6em 0.6em 0 0;
  text-align: center;
  font-size: 0.9rem;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin: 0 0 0 0.2rem
}
.circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin: 0.5rem
}
.red    { background: orangered }
.yellow { background: goldenrod }
.green  { background: forestgreen }
#content {
  margin: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  background: #3D68A9;
  border-color: #3089c5;
  border-radius: 0.5rem;
  margin: 0.7rem;
  padding: 0.5rem 1.2rem;
  width: fit-content;
  height: 1.8rem;
  &:hover {
      background: darkolivegreen;
  }
  &:active {
      background: olive;
  }
}
a > svg {
  width: 1.125em; height: 1em; vertical-align: -0.125em
}
a.skip-link { display: none }