<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="yong.space" />
    <meta property="og:image" content="https://yong.space/assets/pineapple.png" />
    <meta property="og:image:secure_url" content="https://yong.space/assets/pineapple.png" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="yong.space" />
    <meta name="twitter:description" content="yong.space" />
    <meta name="twitter:creator" content="ystan_">
    <meta name="twitter:image" content="https://yong.space/assets/pineapple.png" />
    <link rel="apple-touch-icon" href="./assets/icons/apple-touch-icon.png" />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
    <noscript>This site requires Javascript</noscript>
  </body>
</html>
